.product__left > img {
    height: 315px;
    width: 215;
    border-radius: 2px;
}

.star {
    font-size: 25px;
    color: #fb4226;
}

#showtimes{
    color: white;
    background-color: white;
    padding-top: 30px;
    border-radius: 2px;
}
